.mov-imago {
      animation-name: mov-imago; -webkit-animation-name: mov-imago; -moz-animation-name: mov-imago; -o-animation-name: mov-imago;
  animation-duration: 2.5s;       -webkit-animation-duration: 2.5s;   -moz-animation-duration: 2.5s;   -o-animation-duration: 2.5s;
     animation-delay: 0s;       -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-imago {
  0%   {opacity: 0.0; margin-top: -250px;}
  80%  {opacity: 0.0; margin-top: -250px;}
  100% {opacity: 1.0; margin-top:    28px;}
  }
@-moz-keyframes mov-imago {
  0%   {opacity: 0.0; margin-top: -250px;}
  80%  {opacity: 0.0; margin-top: -250px;}
  100% {opacity: 1.0; margin-top:    28px;}
  }
@-o-keyframes mov-imago {
  0%   {opacity: 0.0; margin-top: -250px;}
  80%  {opacity: 0.0; margin-top: -250px;}
  100% {opacity: 1.0; margin-top:    28px;}
  }
@keyframes mov-imago {
  0%   {opacity: 0.0; margin-top: -250px;}
  80%  {opacity: 0.0; margin-top: -250px;}
  100% {opacity: 1.0; margin-top:    28px;}
  }

/*-*/

.mov-logo {
      animation-name: mov-logo; -webkit-animation-name: mov-logo; -moz-animation-name: mov-logo; -o-animation-name: mov-logo;
  animation-duration: 2.5s;       -webkit-animation-duration: 2.5s;   -moz-animation-duration: 2.5s;   -o-animation-duration: 2.5s;
     animation-delay: 0s;       -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-logo {
  0%   {opacity: 0.0; margin-top: 200px;}
  80%  {opacity: 0.0; margin-top: 200px;}
  100% {opacity: 1.0; margin-top:    28px;}
  }
@-moz-keyframes mov-logo {
  0%   {opacity: 0.0; margin-top: 200px;}
  80%  {opacity: 0.0; margin-top: 200px;}
  100% {opacity: 1.0; margin-top:    28px;}
  }
@-o-keyframes mov-logo {
  0%   {opacity: 0.0; margin-top: 200px;}
  80%  {opacity: 0.0; margin-top: 200px;}
  100% {opacity: 1.0; margin-top:    28px;}
  }
@keyframes mov-logo {
  0%   {opacity: 0.0; margin-top: 200px;}
  80%  {opacity: 0.0; margin-top: 200px;}
  100% {opacity: 1.0; margin-top:    28px;}
  }

/*-*/


.mov-line01 {
      animation-name: mov-line01;  -webkit-animation-name: mov-line01;  -moz-animation-name: mov-line01;  -o-animation-name: mov-line01;
  animation-duration: 2.8s; -webkit-animation-duration: 2.8s; -moz-animation-duration: 2.8s; -o-animation-duration: 2.8s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-line01 {
  0%   {opacity: 0.0; width: 0px;}
  96%  {opacity: 0.0; width: 0px;}
  100% {opacity: 1.0; width: 90px;}
  }
@-moz-keyframes mov-line01 {
  0%   {opacity: 0.0; width: 0px;}
  96%  {opacity: 0.0; width: 0px;}
  100% {opacity: 1.0; width: 90px;}
  }
@-o-keyframes mov-line01 {
  0%   {opacity: 0.0; width: 0px;}
  96%  {opacity: 0.0; width: 0px;}
  100% {opacity: 1.0; width: 90px;}
  }
@keyframes mov-line01 {
  0%   {opacity: 0.0; width: 0px;}
  96%  {opacity: 0.0; width: 0px;}
  100% {opacity: 1.0; width: 90px;}
  }

/*-*/


.mov-fecha {
      animation-name: mov-fecha;  -webkit-animation-name: mov-fecha;  -moz-animation-name: mov-fecha;  -o-animation-name: mov-fecha;
  animation-duration: 3.2s;  -webkit-animation-duration: 3.2s;  -moz-animation-duration: 3.2s;  -o-animation-duration: 3.2s;
     animation-delay: 0s;       -webkit-animation-delay: 0s;       -moz-animation-delay: 0s;       -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-fecha {
  0%   {opacity: 0.0; margin-top: 80px;}
  90%  {opacity: 0.0; margin-top: 80px;}
  100% {opacity: 1.0; margin-top: 119px;}
  }
@-moz-keyframes mov-fecha {
  0%   {opacity: 0.0; margin-top: 80px;}
  90%  {opacity: 0.0; margin-top: 80px;}
  100% {opacity: 1.0; margin-top: 119px;}
  }
@-o-keyframes mov-fecha {
  0%   {opacity: 0.0; margin-top: 80px;}
  90%  {opacity: 0.0; margin-top: 80px;}
  100% {opacity: 1.0; margin-top: 119px;}
  }
@keyframes mov-fecha {
  0%   {opacity: 0.0; margin-top: 80px;}
  90%  {opacity: 0.0; margin-top: 80px;}
  100% {opacity: 1.0; margin-top: 119px;}
  }

/*-*/

.mov-line02 {
      animation-name: mov-line02;  -webkit-animation-name: mov-line02;  -moz-animation-name: mov-line02;  -o-animation-name: mov-line02;
  animation-duration: 4s; -webkit-animation-duration: 4s; -moz-animation-duration: 4s; -o-animation-duration: 4s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-line02 {
  0%   {opacity: 0.0; height: 0px;}
  95%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 72px;}
  }
@-moz-keyframes mov-line02 {
  0%   {opacity: 0.0; height: 0px;}
  95%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 72px;}
  }
@-o-keyframes mov-line02 {
  0%   {opacity: 0.0; height: 0px;}
  95%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 72px;}
  }
@keyframes mov-line02 {
  0%   {opacity: 0.0; height: 0px;}
  95%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 72px;}
  }

/*-*/

.mov-line03 {
      animation-name: mov-line03;  -webkit-animation-name: mov-line03;  -moz-animation-name: mov-line03;  -o-animation-name: mov-line03;
  animation-duration: 5.3s; -webkit-animation-duration: 5.3s; -moz-animation-duration: 5.3s; -o-animation-duration: 5.3s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-line03 {
  0%   {opacity: 0.0; height: 0px;}
  97%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 36px;}
  }
@-moz-keyframes mov-line03 {
  0%   {opacity: 0.0; height: 0px;}
  97%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 36px;}
  }
@-o-keyframes mov-line03 {
  0%   {opacity: 0.0; height: 0px;}
  97%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 36px;}
  }
@keyframes mov-line03 {
  0%   {opacity: 0.0; height: 0px;}
  97%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 36px;}
  }

/*-*/

.mov-brief-01 {
      animation-name: mov-brief-01;  -webkit-animation-name: mov-brief-01;  -moz-animation-name: mov-brief-01;  -o-animation-name: mov-brief-01;
  animation-duration: 4.6s; -webkit-animation-duration: 4.6s; -moz-animation-duration: 4.6s; -o-animation-duration: 4.6s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-brief-01 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-brief-01 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-brief-01 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-brief-01 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }

/*-*/

.mov-brief-02 {
      animation-name: mov-brief-02;  -webkit-animation-name: mov-brief-02;  -moz-animation-name: mov-brief-02;  -o-animation-name: mov-brief-02;
  animation-duration: 4.7s; -webkit-animation-duration: 4.7s; -moz-animation-duration: 4.7s; -o-animation-duration: 4.7s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-brief-02 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-brief-02 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-brief-02 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-brief-02 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }

/*-*/

.mov-brief-03 {
      animation-name: mov-brief-03;  -webkit-animation-name: mov-brief-03;  -moz-animation-name: mov-brief-03;  -o-animation-name: mov-brief-03;
  animation-duration: 4.8s; -webkit-animation-duration: 4.8s; -moz-animation-duration: 4.8s; -o-animation-duration: 4.8s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-brief-03 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-brief-03 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-brief-03 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-brief-03 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }

/*-*/

.mov-social {
      animation-name: mov-social;  -webkit-animation-name: mov-social;  -moz-animation-name: mov-social;  -o-animation-name: mov-social;
  animation-duration: 5.5s; -webkit-animation-duration: 5.5s; -moz-animation-duration: 5.5s; -o-animation-duration: 5.5s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-social {
  0%   {opacity: 0.0;}
  96%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-social {
  0%   {opacity: 0.0;}
  96%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-social {
  0%   {opacity: 0.0;}
  96%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-social {
  0%   {opacity: 0.0;}
  96%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }

/*-*/

.mov-footer {
      animation-name: mov-footer;  -webkit-animation-name: mov-footer;  -moz-animation-name: mov-footer;  -o-animation-name: mov-footer;
  animation-duration: 8s; -webkit-animation-duration: 8s; -moz-animation-duration: 8s; -o-animation-duration: 8s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-footer {
  0%   {opacity: 0.0;}
  75%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-footer {
  0%   {opacity: 0.0;}
  75%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-footer {
  0%   {opacity: 0.0;}
  75%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-footer {
  0%   {opacity: 0.0;}
  75%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }

/*-*/

.mov-stage03 {
      animation-name: mov-stage03;  -webkit-animation-name: mov-stage03;  -moz-animation-name: mov-stage03;  -o-animation-name: mov-stage03;
  animation-duration: 1s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-stage03 {
  0%   {right: -100%}
  30%  {right: -100%}
  100% {right: 0%}
  }
@-moz-keyframes mov-stage03 {
  0%   {right: -100%}
  30%  {right: -100%}
  100% {right: 0%}
  }
@-o-keyframes mov-stage03 {
  0%   {right: -100%}
  30%  {right: -100%}
  100% {right: 0%}
  }
@keyframes mov-stage03 {
  0%   {right: -100%}
  30%  {right: -100%}
  100% {right: 0%}
  }

/*-*/

/*-*/

.mov-stage03b {
      animation-name: mov-stage03b;  -webkit-animation-name: mov-stage03b;  -moz-animation-name: mov-stage03b;  -o-animation-name: mov-stage03b;
  animation-duration: 1s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-stage03b {
  0%   {right: 0%; display: block;}
  30%  {right: 0%; display: block;}
  100% {right: -100%;  display: none;}
  }
@-moz-keyframes mov-stage03b {
  0%   {right: 0%; display: block;}
  30%  {right: 0%; display: block;}
  100% {right: -100%;  display: none;}
  }
@-o-keyframes mov-stage03b {
  0%   {right: 0%; display: block;}
  30%  {right: 0%; display: block;}
  100% {right: -100%;  display: none;}
  }
@keyframes mov-stage03b {
  0%   {right: 0%; display: block;}
  30%  {right: 0%; display: block;}
  100% {right: -100%;  display: none;}
  }

/*-*/
.mov-text01 {
      animation-name: mov-text01;  -webkit-animation-name: mov-text01;  -moz-animation-name: mov-text01;  -o-animation-name: mov-text01;
  animation-duration: 2s; -webkit-animation-duration: 2s; -moz-animation-duration: 2s; -o-animation-duration: 2s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-text01 {
  0%   {opacity: 0.0;}
  95%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-text01 {
  0%   {opacity: 0.0;}
  95%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-text01 {
  0%   {opacity: 0.0;}
  95%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-text01 {
  0%   {opacity: 0.0;}
  95%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }


/*-*/

.mov-text02 {
      animation-name: mov-text02;  -webkit-animation-name: mov-text02;  -moz-animation-name: mov-text02;  -o-animation-name: mov-text02;
  animation-duration: 2.5s; -webkit-animation-duration: 2.5s; -moz-animation-duration: 2.5s; -o-animation-duration: 2.5s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-text02 {
  0%   {opacity: 0.0;}
  92%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-text02 {
  0%   {opacity: 0.0;}
  92%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-text02 {
  0%   {opacity: 0.0;}
  92%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-text02 {
  0%   {opacity: 0.0;}
  92%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }


/*-*/

.mov-text03 {
      animation-name: mov-text03;  -webkit-animation-name: mov-text03;  -moz-animation-name: mov-text03;  -o-animation-name: mov-text03;
  animation-duration: 2.8s; -webkit-animation-duration: 2.8s; -moz-animation-duration: 2.8s; -o-animation-duration: 2.8s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-text03 {
  0%   {opacity: 0.0;}
  92%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-text03 {
  0%   {opacity: 0.0;}
  92%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-text03 {
  0%   {opacity: 0.0;}
  92%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-text03 {
  0%   {opacity: 0.0;}
  92%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }



/*-*/

.mov-text04 {
      animation-name: mov-text04;  -webkit-animation-name: mov-text04;  -moz-animation-name: mov-text04;  -o-animation-name: mov-text04;
  animation-duration: 3.2s; -webkit-animation-duration: 3.2s; -moz-animation-duration: 3.2s; -o-animation-duration: 3.2s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-text04 {
  0%   {opacity: 0.0;}
  94%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-text04 {
  0%   {opacity: 0.0;}
  94%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-text04 {
  0%   {opacity: 0.0;}
  94%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-text04 {
  0%   {opacity: 0.0;}
  94%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }



/*-*/

.mov-text05 {
      animation-name: mov-text05;  -webkit-animation-name: mov-text05;  -moz-animation-name: mov-text05;  -o-animation-name: mov-text05;
  animation-duration: 3.4s; -webkit-animation-duration: 3.4s; -moz-animation-duration: 3.4s; -o-animation-duration: 3.4s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-text05 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-text05 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-text05 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-text05 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }



/*-*/

.mov-text06 {
      animation-name: mov-text06;  -webkit-animation-name: mov-text06;  -moz-animation-name: mov-text06;  -o-animation-name: mov-text06;
  animation-duration: 3.6s; -webkit-animation-duration: 3.6s; -moz-animation-duration: 3.6s; -o-animation-duration: 3.6s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-text06 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-text06 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-text06 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-text06 {
  0%   {opacity: 0.0;}
  93%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }



/*-*/

.mov-text07 {
      animation-name: mov-text07;  -webkit-animation-name: mov-text07;  -moz-animation-name: mov-text07;  -o-animation-name: mov-text07;
  animation-duration: 3.8s; -webkit-animation-duration: 3.8s; -moz-animation-duration: 3.8s; -o-animation-duration: 3.8s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-text07 {
  0%   {opacity: 0.0;}
  98%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-text07 {
  0%   {opacity: 0.0;}
  98%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-text07 {
  0%   {opacity: 0.0;}
  98%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-text07 {
  0%   {opacity: 0.0;}
  98%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }



/*-*/

.mov-line04 {
      animation-name: mov-line04;  -webkit-animation-name: mov-line04;  -moz-animation-name: mov-line04;  -o-animation-name: mov-line04;
  animation-duration: 6s; -webkit-animation-duration: 6s; -moz-animation-duration: 6s; -o-animation-duration: 6s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-line04 {
  0%   {opacity: 0.0; height: 0px;}
  99%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 75px;}
  }
@-moz-keyframes mov-line04 {
  0%   {opacity: 0.0; height: 0px;}
  99%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 75px;}
  }
@-o-keyframes mov-line04 {
  0%   {opacity: 0.0; height: 0px;}
  99%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 75px;}
  }
@keyframes mov-line04 {
  0%   {opacity: 0.0; height: 0px;}
  99%  {opacity: 0.0; height: 0px;}
  100% {opacity: 1.0; height: 75px;}
  }


/*-*/

.mov-line05 {
      animation-name: mov-line05;  -webkit-animation-name: mov-line05;  -moz-animation-name: mov-line05;  -o-animation-name: mov-line05;
  animation-duration: 6.05s; -webkit-animation-duration: 6.05s; -moz-animation-duration: 6.05s; -o-animation-duration: 6.05s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-line05 {
  0%   {opacity: 0.0; width: 0px;}
  99%  {opacity: 0.0; width: 0px;}
  100% {opacity: 1.0; width: 29px;}
  }
@-moz-keyframes mov-line05 {
  0%   {opacity: 0.0; width: 0px;}
  99%  {opacity: 0.0; width: 0px;}
  100% {opacity: 1.0; width: 29px;}
  }
@-o-keyframes mov-line05 {
  0%   {opacity: 0.0; width: 0px;}
  99%  {opacity: 0.0; width: 0px;}
  100% {opacity: 1.0; width: 29px;}
  }
@keyframes mov-line05 {
  0%   {opacity: 0.0; width: 0px;}
  99%  {opacity: 0.0; width: 0px;}
  100% {opacity: 1.0; width: 29px;}
  }

/*-*/

.mov-text08 {
      animation-name: mov-text08;  -webkit-animation-name: mov-text08;  -moz-animation-name: mov-text08;  -o-animation-name: mov-text08;
  animation-duration: 6.1s; -webkit-animation-duration: 6.1s; -moz-animation-duration: 6.1s; -o-animation-duration: 6.1s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-text08 {
  0%   {opacity: 0.0;}
  99%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-text08 {
  0%   {opacity: 0.0;}
  99%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-text08 {
  0%   {opacity: 0.0;}
  99%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-text08 {
  0%   {opacity: 0.0;}
  99%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }


/*-*/

.mov-gif {
      animation-name: mov-gif;  -webkit-animation-name: mov-gif;  -moz-animation-name: mov-gif;  -o-animation-name: mov-gif;
  animation-duration: 8.2s; -webkit-animation-duration: 8.2s; -moz-animation-duration: 8.2s; -o-animation-duration: 8.2s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-gif {
  0%   {opacity: 0.0;}
  90%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-gif {
  0%   {opacity: 0.0;}
  90%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-gif {
  0%   {opacity: 0.0;}
  90%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-gif {
  0%   {opacity: 0.0;}
  90%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }



/*-*/

.mov-text09 {
      animation-name: mov-text09;  -webkit-animation-name: mov-text09;  -moz-animation-name: mov-text09;  -o-animation-name: mov-text09;
  animation-duration: 9s; -webkit-animation-duration: 9s; -moz-animation-duration: 9s; -o-animation-duration: 9s;
     animation-delay: 0s;      -webkit-animation-delay: 0s;      -moz-animation-delay: 0s;      -o-animation-delay: 0s;
  }

@-webkit-keyframes mov-text09 {
  0%   {opacity: 0.0;}
  90%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-moz-keyframes mov-text09 {
  0%   {opacity: 0.0;}
  90%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@-o-keyframes mov-text09 {
  0%   {opacity: 0.0;}
  90%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }
@keyframes mov-text09 {
  0%   {opacity: 0.0;}
  90%  {opacity: 0.0;}
  100% {opacity: 1.0;}
  }